<div class="w-50 border border-warning border-1 p-3 m-auto">
  <h4 class="display-5 p-3 mb-2 bg-light text-dark">
    Project : <%= project.name %>
  </h4>
  <h4 class="display-6 p-3 mb-2 bg-light text-dark">
    Author : <%= project.author %>
  </h4>
  <h4 class="display-6 p-3 mb-2 bg-light text-dark">
    Description : <%= project.description %>
  </h4>
</div>
<%-include('./partials/_issues'); %>
